// Custom SCSS for embedded Payload CMS Studio in CODShop
:root {
  --theme-elevation-0: #09090b;
  --theme-elevation-50: #121215;
  --theme-elevation-100: #18181b;
  --theme-elevation-150: #27272a;
  --theme-elevation-200: #3f3f46;
}
